esphome_admin_password: "YOUR_ESPHOME_ADMIN_PASSWORD"
wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"
esphome_api_key: "YOUR_ESPHOME_API_KEY"
nexxtender_mac: "YOUR_NEXXTENDER_MAC_ADDRESS"
nexxtender_passkey: "YOUR_NEXXTENDER_PASSKEY"