name: ESPHome Build

on:
  push:
    paths:
      - "config/**" # Trigger only if there are changes in config folder or its subfolders
  pull_request:
    paths:
      - "config/**" # Trigger only if there are changes in config folder or its subfolders
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_slug }}
  cancel-in-progress: true

jobs:
  build:
    name: Build ESPHOME
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Move Secrets Template
        run: |
          cp config/secrets.yaml.template config/secrets.yaml
          sed -i 's/YOUR_ESPHOME_API_KEY/2EhugO+jJDJ+BiVEiRxzXnkDWTmxpdfvgdMXRv26\/pA=/' config/secrets.yaml
          sed -i 's/YOUR_NEXXTENDER_MAC_ADDRESS/00:1A:7D:DA:71:13/' config/secrets.yaml
          sed -i 's/YOUR_NEXXTENDER_PASSKEY/123456/' config/secrets.yaml
          echo "Secrets template moved."
        working-directory: ${{ github.workspace }}

      - name: Build ESPHOME az-delivery-devkit-v4
        uses: esphome/build-action@v3
        with:
          yaml_file: config/nexxtender.yaml

      - name: Build ESPHOME esp32-s3-devkitc-1
        uses: esphome/build-action@v3
        with:
          yaml_file: config/nexxtender.s3.yaml
